$colorMain: #F20000;
$transitionMain: 0.3s;

html {

}

body {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	background-image: url("../images/bg.png");
	background-position: left bottom;
	background-repeat: no-repeat;

	min-height: 100vh;
	@media (max-width: 991px) {
		background: none;
	}
}
.content {
	min-height: calc(100vh - (95px + 76px));
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 991px) {
		min-height: calc(100% - (54px + 133px));
	}
}

/* Прижать футер */
// .page {
// 	display: flex;
// 	flex-direction: column;
// 	height: 100vh;
// 	overflow-x: hidden;
// 	.content {
// 		flex: 1 0 auto;
// 		overflow-x: hidden;
// 	}
// 	.footer {
// 		flex: 0 0 auto;
// 	}
// }


.link {
	display: inline-block;
	font-size: 14px;
	line-height: 90%;
	color: #000000;
	border-bottom: 1px solid #000;
	padding-bottom: 1px;

	transition: $transitionMain;
	&:hover {
		text-decoration: none;
		color: $colorMain;
		border-bottom: 1px solid $colorMain;
		transition: $transitionMain;
	}
}
