.form-log {
	max-width: 565px;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
	border-radius: 15px;

	padding: 30px 96px 24px 96px;

	.form-log__title {
		display: block;
		margin: 0px;

		font-size: 18px;
		line-height: 21px;
		color: #000000;
		padding-bottom: 45px;
	}
	.form-log__description {
		display: block;
		font-size: 36px;
		line-height: 42px;
		color: #000000;
		margin-bottom: 60px;
	}
	.form-log-info {
		display: inline-block;
		font-size: 14px;
		line-height: 90%;
		color: #000000;
		border-bottom: 1px solid #000;
		padding-bottom: 1px;

		transition: $transitionMain;
		&:hover {
			text-decoration: none;
			color: $colorMain;
			border-bottom: 1px solid $colorMain;
			transition: $transitionMain;
		}
	}
	@media (max-width: 991px) {
		padding: 39px 30px 24px 30px;
	}
}

.input {
	border: 0px;
	background: #E5E5E5;
	border-radius: 15px;
	padding: 14px 30px;

	font-size: 18px;
	line-height: 21px;
	color: #777777;

	transition: $transitionMain;

	margin-bottom: 38px;
	&.input_cart {
		margin-bottom: 0px;
		padding: 4px 15px;
		font-size: 16px;
		line-height: 120%;
		@media (max-width: 991px) {
			width: 160px!important;
		}
	}
	&:focus {
		outline: none;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		transition: $transitionMain;
	}
}
