.btn {
	background: $colorMain;
	border-radius: 15px;
	padding: 15px;
	text-align: center;

	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;

	border: 2px solid transparent;

	transition: $transitionMain;
	&.btn_cart {
		padding: 4px 20px;
	}
	&:hover {
		border: 2px solid $colorMain;
		transition: $transitionMain;
		color: $colorMain;
		background: none;
	}
	&:focus {
		outline: none;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	}
}
