.footer {
	padding:  0px 0px 27px 0px;
	
	.border {
		border: 0px!important;
		border-top: 1px solid #E5E5E5!important;
		padding-bottom: 27px;
	}
	span {
		display: block;
		margin: 0px;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		&.gray {
			color: #777777;
		}
	}
	@media (max-width: 991px) {
		padding-bottom: 38px;
		.border {
			padding-bottom: 36px;
		}
	}
}
