extends base.pug
block content
	div(class="container")
		div(class="row")
			div(class="col-12")
				div(class="page-404")
					h1(class="title")
						| 404
					p(class="description text-center")
						| К сожалению нам не удалось найти страницу!
					a(class="link" href="#")
						| Вернуться на главную
