doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet")
		title Project
	body
		header(class="header")
			div(class="container")
				div(class="row")
					div(class="col-6")
						a(class="logo" href="#")
							img(class="lazyload" data-src="images/logo.png" alt="logo img")
					div(class="col-6 d-flex justify-content-end")
						div(class="user mr-4")
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12 0C5.38317 0 0 5.38317 0 12C0 18.6168 5.38317 24 12 24C18.6168 24 24 18.6168 24 12C24 5.38317 18.6168 0 12 0ZM12 22.5938C6.15858 22.5938 1.40625 17.8414 1.40625 12C1.40625 6.15858 6.15858 1.40625 12 1.40625C17.8414 1.40625 22.5938 6.15858 22.5938 12C22.5938 17.8414 17.8414 22.5938 12 22.5938Z" fill="black"/>
								<path d="M12 12.6562C14.7139 12.6562 16.9219 10.4483 16.9219 7.73438C16.9219 5.02045 14.7139 2.8125 12 2.8125C9.28608 2.8125 7.07812 5.02045 7.07812 7.73438C7.07812 10.4483 9.28608 12.6562 12 12.6562ZM12 4.21875C13.9385 4.21875 15.5156 5.79586 15.5156 7.73438C15.5156 9.67289 13.9385 11.25 12 11.25C10.0615 11.25 8.48438 9.67289 8.48438 7.73438C8.48438 5.79586 10.0615 4.21875 12 4.21875Z" fill="black"/>
								<path d="M19.9054 15.7239C18.971 14.668 17.6272 14.0625 16.2187 14.0625H7.78118C6.37264 14.0625 5.02887 14.668 4.09451 15.7239L3.76123 16.1005L4.00995 16.5376C5.642 19.4058 8.70359 21.1875 11.9999 21.1875C15.2963 21.1875 18.3579 19.4058 19.99 16.5376L20.2387 16.1005L19.9054 15.7239ZM11.9999 19.7812C9.38731 19.7812 6.94864 18.4595 5.51323 16.2987C6.14379 15.7665 6.94662 15.4688 7.78118 15.4688H16.2187C17.0532 15.4688 17.8561 15.7665 18.4866 16.2987C17.0512 18.4595 14.6126 19.7812 11.9999 19.7812Z" fill="black"/>
							</svg>
							span(class="pl-3 d-none d-lg-block user__name")
								| Иванов Иван
						div(class="phone-block")
							a(href="tel:83512101212")
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.0974 0C11.5796 0 11.1598 0.419906 11.1598 0.937594C11.1598 1.45537 11.5796 1.87519 12.0974 1.87519C17.3936 1.87519 21.7024 6.29578 21.7024 11.7297C21.7024 12.2475 22.1223 12.6673 22.6399 12.6673C23.1577 12.6673 23.5775 12.2474 23.5775 11.7297C23.5776 5.26191 18.4276 0 12.0974 0Z" fill="black"/>
									<path d="M12.0942 4.44816C11.5764 4.44816 11.1566 4.86807 11.1566 5.38576C11.1566 5.90354 11.5764 6.32335 12.0942 6.32335C14.9944 6.32335 17.3538 8.74856 17.3538 11.7295C17.3538 12.2473 17.7737 12.6671 18.2914 12.6671C18.8091 12.6671 19.229 12.2472 19.229 11.7295C19.2291 7.7146 16.0283 4.44816 12.0942 4.44816Z" fill="black"/>
									<path d="M12.1124 8.54578C11.5945 8.54578 11.1748 8.9655 11.1748 9.48337C11.1748 10.0012 11.5947 10.421 12.1124 10.421C12.7899 10.421 13.341 10.9951 13.341 11.7008C13.341 12.2186 13.7608 12.6384 14.2786 12.6384C14.7964 12.6384 15.2162 12.2185 15.2162 11.7008C15.2163 9.96112 13.8238 8.54578 12.1124 8.54578Z" fill="black"/>
									<path d="M42.9833 7.4311H40.905C40.3872 7.4311 39.9674 7.85091 39.9674 8.36869C39.9674 8.88647 40.3872 9.30628 40.905 9.30628H42.9833C44.7153 9.30628 46.1243 10.7153 46.1243 12.4473V25.1747C46.1243 26.1719 45.6566 27.0613 44.9298 27.6371V25.1852C44.9298 23.2723 43.5649 21.6293 41.6844 21.2786L41.0783 21.1657C41.2135 20.7513 41.2875 20.3097 41.2875 19.8508V17.6962C41.2875 15.3535 39.3815 13.4476 37.0388 13.4476C34.6961 13.4476 32.7903 15.3535 32.7903 17.6962V19.8508C32.7903 20.3097 32.8643 20.7513 32.9994 21.1657L32.3933 21.2786C30.5128 21.6292 29.148 23.2722 29.148 25.1852V27.9033C28.2004 27.3619 27.5598 26.342 27.5598 25.1747V12.4473C27.5598 10.7153 28.9688 9.30628 30.7008 9.30628H32.9354C33.4532 9.30628 33.873 8.88647 33.873 8.36869C33.873 7.85091 33.4531 7.4311 32.9354 7.4311H30.7008C27.9349 7.4311 25.6846 9.68138 25.6846 12.4473V25.1747C25.6846 27.9406 27.9349 30.1909 30.7008 30.1909H35.4188V32.8866C35.4188 33.2653 35.6466 33.6069 35.9962 33.7522C36.1127 33.8007 36.2349 33.8242 36.3562 33.8242C36.5992 33.8242 36.8382 33.7297 37.0174 33.5518L40.3995 30.1909H42.9833C45.7492 30.1909 47.9995 27.9406 47.9995 25.1747V12.4473C47.9995 9.68138 45.7492 7.4311 42.9833 7.4311ZM34.6654 17.6962C34.6654 16.3875 35.73 15.3228 37.0387 15.3228C38.3475 15.3228 39.4122 16.3875 39.4122 17.6962V19.8508C39.4122 21.1596 38.3475 22.2243 37.0387 22.2243C35.73 22.2243 34.6654 21.1596 34.6654 19.8508V17.6962ZM43.0543 28.3137C43.0306 28.3143 43.007 28.3155 42.9831 28.3155H40.0129V28.3157C39.7652 28.3157 39.5276 28.4136 39.3519 28.5881L37.294 30.6332V29.2532C37.294 28.7354 36.8741 28.3156 36.3564 28.3156H31.0233V25.1851C31.0233 24.1749 31.7441 23.3072 32.7371 23.1219L34.0589 22.8755C34.8263 23.6317 35.8788 24.0994 37.0388 24.0994C38.1988 24.0994 39.2514 23.6316 40.0189 22.8754L41.3407 23.1218C42.3338 23.3071 43.0546 24.1747 43.0546 25.1851V28.3137H43.0543Z" fill="black"/>
									<path d="M37.1298 7.70616C36.9555 7.53084 36.7136 7.43147 36.467 7.43147C36.2204 7.43147 35.9785 7.53084 35.8041 7.70616C35.6297 7.87969 35.5294 8.12166 35.5294 8.36906C35.5294 8.61563 35.6296 8.85759 35.8041 9.03197C35.9785 9.20625 36.2204 9.30666 36.467 9.30666C36.7136 9.30666 36.9555 9.20634 37.1298 9.03197C37.3042 8.85666 37.4046 8.61572 37.4046 8.36906C37.4046 8.12156 37.3043 7.88053 37.1298 7.70616Z" fill="black"/>
									<path d="M17.4261 31.541C17.2517 31.3666 17.0107 31.2663 16.7632 31.2663C16.5166 31.2663 16.2746 31.3666 16.1003 31.541C15.926 31.7153 15.8256 31.9572 15.8256 32.2039C15.8256 32.4514 15.9259 32.6924 16.1003 32.8668C16.2756 33.0421 16.5166 33.1423 16.7632 33.1423C17.0097 33.1423 17.2517 33.0421 17.4261 32.8668C17.6014 32.6924 17.7007 32.4513 17.7007 32.2039C17.7007 31.9573 17.6014 31.7154 17.4261 31.541Z" fill="black"/>
									<path d="M37.9484 40.0191L30.7653 32.8358C29.8091 31.8796 28.3048 31.7397 27.1888 32.5029L22.6042 35.6377C22.2321 35.8921 21.7309 35.8455 21.4121 35.5267L19.896 34.0105C19.53 33.6446 18.9365 33.6445 18.57 34.0105C18.2039 34.3766 18.2039 34.9702 18.57 35.3366L20.086 36.8527C21.0422 37.8089 22.5464 37.9491 23.6625 37.1857L28.2471 34.0509C28.619 33.7966 29.1204 33.8431 29.4392 34.1619L36.6225 41.3452C36.988 41.7106 36.9879 42.3055 36.6224 42.6712C32.0162 47.2774 24.5214 47.2774 19.9153 42.6712L5.32945 28.0852C3.09801 25.8539 1.86932 22.8873 1.86932 19.7317C1.86932 16.576 3.09811 13.6093 5.32954 11.3779C5.50664 11.2008 5.74204 11.1034 5.99245 11.1034C6.24295 11.1034 6.47845 11.2009 6.65545 11.378L13.8386 18.5612C14.1572 18.8798 14.2039 19.3813 13.9497 19.7533L10.815 24.3379C10.0516 25.454 10.1917 26.9581 11.1479 27.9144L13.4267 30.1933C13.7929 30.5593 14.3864 30.5593 14.7528 30.1933C15.1189 29.8272 15.1189 29.2335 14.7528 28.8672L12.4739 26.5883C12.1553 26.2697 12.1086 25.7683 12.3629 25.3963L15.4977 20.8117C16.2609 19.6956 16.1208 18.1913 15.1647 17.2352L7.98154 10.052C6.88486 8.95528 5.10032 8.95528 4.00345 10.052C-1.33383 15.3893 -1.33383 24.0739 4.00345 29.4112L18.5893 43.997C21.2579 46.6656 24.7634 48 28.2688 48C31.7743 47.9999 35.2797 46.6656 37.9484 43.997C39.045 42.9003 39.045 41.1158 37.9484 40.0191Z" fill="black"/>
									<path d="M12.6307 23.0549L6.94698 17.3712C6.58069 17.0052 5.98716 17.0052 5.62088 17.3712C5.25479 17.7374 5.25479 18.3311 5.62088 18.6973L11.3047 24.381C11.4878 24.564 11.7276 24.6556 11.9677 24.6556C12.2076 24.6556 12.4476 24.564 12.6307 24.381C12.9968 24.0148 12.9968 23.4211 12.6307 23.0549Z" fill="black"/>
									<path d="M34.3838 44.808L28.4036 38.8278C28.0374 38.4618 27.4438 38.4618 27.0775 38.8278C26.7115 39.194 26.7115 39.7877 27.0775 40.1539L33.0578 46.1341C33.2408 46.3171 33.4807 46.4087 33.7208 46.4087C33.9607 46.4087 34.2007 46.3171 34.3838 46.1341C34.7499 45.7678 34.7499 45.1742 34.3838 44.808Z" fill="black"/>
								</svg>
							div(class="pl-3 d-none d-lg-flex flex-column align-items-end")
								a(class="d-block phone-block__number" href="tel:83512101212")
									| 8 351 210-12-12
								a(class="d-block phone-block__modal" href="#" data-toggle="modal" data-target="#modalCallback")
									| заказать звонок
					div(class="col-12")
						div(class="border")
		div(class="content")
			block content
		<!-- Modal -->
		<div class="modal fade" id="modalCallback" tabindex="-1" aria-labelledby="modalCallbackLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					form(class="form-log d-flex flex-column align-items-center")
						span(class="form-log__title text-center")
							b
								| Заказать звонок
						input(class="input w-100" type="text" placeholder="Введите ваше имя")
						input(class="input w-100" type="text" placeholder="Введите ваш телефон")
						button(type="submit" class="btn w-100 mb-4")
							b
								| заказать
				</div>
			</div>
		</div>
		footer(class="footer")
			div(class="container")
				div(class="row")
					div(class="col-12")
						div(class="border")
					div(class="col-12 col-lg-6 pb-3 pb-lg-0 d-flex justify-content-center justify-content-lg-start")
						span
							b
								| Охранное предприятия КЭНДО
					div(class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end")
						span(class="gray")
							b
								| Челябинск, ул. Тимирязева 28
		script(src="js/main.min.js")
