extends base.pug
block content
	div(class="container")
		div(class="row")
			div(class="col-12")
				div(class="welcome")
					div(class="section-info d-flex flex-column align-items-center")
						span(class="section-info__title text-center")
							b
								| Успешная оплата
						div(class="section-info__img")
							img(class="lazyload" data-src="images/access.svg" alt="img")
						span(class="section-info__description text-center")
							b
								| Спасибо, что пользуетесь нашими услугами!
						a(class="link" href="#")
							| Вернуться в личный кабинет
				div(class="cart")
