extends base.pug
block content
	div(class="container")
		div(class="row")
			div(class="col-12")
				div(class="cart")
					div(class="cart__content")
						-for (var i = 0; i < 8; i++)
							div(class="cart__block")
								div(class="row pb-4")
									div(class="col-12")
										span(class="cart__number")
											b
												| Объект №1
								div(class="row pb-3 d-none d-lg-flex")
									div(class="col-12 col-lg-6")
										span(class="cart__title")
											| Наименование услуги
									div(class="col-12 col-lg-2 px-lg-0")
										span(class="cart__title text-lg-center")
											| Сумма задолженности
									div(class="col-12 col-lg-2 px-lg-0")
										span(class="cart__title text-lg-center")
											| Оплата
								div(class="row pb-3 d-none d-lg-flex")
									div(class="col-12")
										div(class="line")
								form(class="row" action="" method="")
									div(class="col-12 col-lg-6 pb-3 pb-lg-0")
										span(class="cart__title pb-2 d-block d-lg-none")
											| Наименование услуги
										span(class="cart__title cart__title_s-18")
											| Охрана квартиры
									div(class="col-12 col-lg-2 pb-3 pb-lg-0")
										span(class="cart__title pb-2 d-block d-lg-none")
											| Сумма задолженности
										span(class="cart__title cart__title_s-18 text-lg-center")
											b
												| 5 555 ₽
									div(class="col-12 col-lg-2 pb-3 pb-lg-0")
										span(class="cart__title pb-2 d-block d-lg-none")
											| Оплата
										input(class="input  input_cart w-100" type="number")
									div(class="col-12 col-lg-2")
										button(class="btn btn_cart" type="submit")
											| Оплатить
