extends base.pug
block content
	div(class="container")
		div(class="row")
			div(class="col-12")
				div(class="welcome")
					form(class="form-log d-flex flex-column align-items-center")
						span(class="form-log__title text-center")
							b
								| Вход в личный кабинет
						input(class="input w-100" type="text" placeholder="Введите ваш логин")
						input(class="input w-100" type="password" placeholder="Введите ваш пароль")
						button(type="submit" class="btn w-100 mb-4")
							b
								| Войти
						a(class="form-log-info" href="#")
							| Забыли данные для входа
