.cart {
	padding-top: 60px;
	padding-bottom: 60px;
	.cart__content {
		.line {
			border-top: 1px solid #777777;
		}
	}
	.cart__block {
		background: #FFFFFF;
		box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
		border-radius: 15px;

		padding: 27px 29px;
		margin-bottom: 60px;
	}
	.cart__number {
		display: block;
		margin: 0px;

		font-size: 18px;
		line-height: 21px;
		color: #000000;
	}
	.cart__title {
		display: block;
		margin: 0px;

		font-size: 14px;
		line-height: 16px;
		color: #000000;
		&.cart__title_s-18 {
			font-size: 18px;
			line-height: 21px;
		}
	}
}
