/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";
@import "cart/_cart";


.welcome {
	// height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 60px;
	padding-bottom: 60px;
	@media (max-width: 991px) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.section-info {
	max-width: 565px;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
	border-radius: 15px;

	padding: 30px 40px;

	.section-info__title {
		display: block;
		margin: 0px;

		font-size: 18px;
		line-height: 21px;
		color: #000000;
		padding-bottom: 35px;
	}
	.section-info__description {
		display: block;
		font-size: 36px;
		line-height: 42px;
		color: #000000;
		margin-bottom: 60px;
		@media (max-width: 991px) {
			font-size: 24px;
			line-height: 28px;
		}
	}
	.section-info__img {
		margin-bottom: 40px;
	}
	@media (max-width: 991px) {
		padding: 40px 15px;
	}
}


.page-404 {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 60px;
	padding-bottom: 60px;
	.title {
		font-size: 288px;
		line-height: 337px;
		color: $colorMain;
		margin-bottom: 24px;
		@media (max-width: 991px) {
			font-size: 56px;
			line-height: 120%;
		}
	}
	.description {
		font-size: 36px;
		line-height: 42px;
		color: #000000;
		margin-bottom: 50px;
	}
}
