.header {
	// position: fixed;
	// top: 0px;
	// left: 0px;
	// right: 0px;

	padding: 27px 0 0px 0px;

	.border {
		padding-top: 17px;
		border: 0px!important;
		border-bottom: 1px solid #E5E5E5!important;
		@media (max-width: 991px) {
			padding-top: 13px;
		}
	}
	@media (max-width: 991px) {
		padding: 9px 0 0px 0px;
	}
}

.logo {
	img {
		max-width: 100%;
		@media (max-width: 991px) {
			width: 131px;
		}
	}
}

.phone-block {
	display: flex;
	align-items: flex-start;
	.phone-block__number{
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		color: #000000;
		transition: $transitionMain;
		&:hover {
			transition: $transitionMain;
		}
	}
	.phone-block__modal {
		cursor: pointer;
		font-weight: 300;
		font-size: 12px;
		line-height: 14px;
		text-decoration-line: underline;
		color: $colorMain;
	}
	@media (max-width: 991px) {
		svg {
			width: 30px;
			height: 30px;
		}
	}
}
.user {
	display: flex;
	align-items: center;
	.user__name {
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		margin: 0px;
	}
	@media (max-width: 991px) {
		svg {
			width: 30px;
			height: 30px;
		}
	}
}
